



<ng-container *ngIf="isPurchaed;else elsetemplate">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Thank you for your order!</h1>
          <p class="lead">Back to Movie ....</p>
        </div>
      </div>

</ng-container>
<ng-template #elsetemplate>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Sorry,Seem something wrong!</h1>
          <p class="lead">Back to Movie ....</p>
        </div>
      </div>


</ng-template> 


