<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-4 h-10">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col col-lg-10 mb-4 mb-lg-0">
                <div class="card border-dark mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-black">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <div class="row d-flex justify-content-center">
                                <div class=" card border-dark col col-lg-10">
                                    <div class="card-body">
                                        <h5 class="card-title">User Name</h5>

                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <a href="">
                                            <li class="list-group-item">Profile Page</li>
                                        </a>
                                        <a href="">
                                            <li class="list-group-item">Favorite</li>
                                        </a>
                                        <a href="">
                                            <li class="list-group-item" style="background-color:gray;color: #f4f5f7;">
                                                Purchase</li>
                                        </a>
                                        <a href="">
                                            <li class="list-group-item">Reviews </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">

                            <div class="row justify-content-center py-4 h-10" *ngFor="let item ofreviewlst ">
                                <div class="col-md-12 col-xl-10">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>