
.movie-details{
    margin-top: 1% ;
}
.left-box{
    color:black;
    margin: 15px;
}
.casting img{
    height :30px;
    width:30px;
    margin-right: 10px;
    cursor: pointer;
}
.posterimg{
    margin-top: 3%;
    margin-left: 0;
}
.buyimg{
    height: 200px;
}